textarea {
	overflow-y: scroll;
	height: 300px;
	width: 500px;
	resize: none;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	background-color: rgb(102, 102, 102);
	text-align: center;
	font-size: 35px;
	color: white;
}

.article,
.options,
#query_div,
#query_button_div {
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	background-color: #f1f1f1;
	padding: 10px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.grid path,
.grid line {
	fill: none;
	stroke: rgba(0, 0, 0, 0.25);
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke-width: 2.5px;
}

.names {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}


/* Tooltip CSS */

.d3-tip {
	line-height: 1.5;
	font-weight: 400;
	font-family: "avenir next", Arial, sans-serif;
	padding: 6px;
	background: rgba(0, 0, 0, 0.6);
	color: #FFA500;
	border-radius: 1px;
	pointer-events: none;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 8px;
	width: 100%;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.6);
	position: absolute;
	pointer-events: none;
}


/* Northward tooltips */

.d3-tip.n:after {
	content: "\25BC";
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
	text-align: center;
}


/* Eastward tooltips */

.d3-tip.e:after {
	content: "\25C0";
	margin: -4px 0 0 0;
	top: 50%;
	left: -8px;
}


/* Southward tooltips */

.d3-tip.s:after {
	content: "\25B2";
	margin: 0 0 1px 0;
	top: -8px;
	left: 0;
	text-align: center;
}


/* Westward tooltips */

.d3-tip.w:after {
	content: "\25B6";
	margin: -4px 0 0 -1px;
	top: 50%;
	left: 100%;
}

.details {
	color: white;
}


/* Tree chart*/

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 3px;
}

.node text {
	font: 8px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}


/* Tree chart*/


/*Styling for the lines connecting the labels to the slices*/

polyline {
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}


/* Make the percentage on the text labels bold*/

.labelName tspan {
	font-style: normal;
	font-weight: 700;
}


/* In biology we generally italicise species names. */

.labelName {
	font-size: 0.9em;
	font-style: italic;
}

svg {
	font-family: Sans-Serif, Arial;
}

.line {
	stroke-width: 2;
	fill: none;
}

.axis path {
	stroke: black;
}

.text {
	font-size: 12px;
}

.title-text {
	font-size: 12px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
}

.axis text {
	font-size: 13px;
}

.bar {
	fill: #8CD3DD;
}

.bar:hover {
	fill: #F56C4E;
}

svg text.label {
	fill: white;
	font: 15px;
	font-weight: 400;
	text-anchor: middle;
}

.bar {
	fill: steelblue;
}

.area {
	fill: lightsteelblue;
}

.tooltip {
	position: absolute;
	text-align: center;
	width: 13%;
	height: 10%;
	padding: 1vw;
	font: 1vw sans-serif;
	border: 0px;
	border-radius: 8px;
	color: black;
	box-shadow: -3px 3px 15px #888888;
	opacity: 0;
}
.rectangularAreaChartText { font-family: Helvetica; font-size: 10px; }

textPath {font-size: 10px;font-weight: bold;}
